vendor/
node_modules/
upload/*
.env.prod
.env.inte
.env
dist/
composer.phar
config_*.xml

# Ignore VueJS compiled files
views/css/app.css
views/js/app.js
views/js/chunk-vendors.js

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

.php_cs.cache
.env.old-integ

.idea/

tests/integration/config.json
.terraform/
