includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	stubFiles:
		- stubs/Module.stub
	paths:
		- ../../classes
		- ../../controllers
		- ../../ps_facebook.php
	reportUnmatchedIgnoredErrors: false
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#Property TabCore::\$name \(string\) does not accept array.#'

	level: 5