.category-matching-dropdown {
  & > button {
    text-overflow: ellipsis!important;
    overflow: hidden!important;
    direction: rtl!important;
    text-align: end!important;

    &::after {
      content: "" !important;
    }
    &::before {
      text-align: start!important;
      margin-left: .625rem!important;
      margin-right: 0!important;
      font-family: Material Icons!important;
      font-weight: 400!important;
      font-style: normal;
      font-size: 1.5rem!important;
      text-transform: none!important;
      letter-spacing: normal!important;
      word-wrap: normal!important;
      white-space: nowrap!important;
      direction: ltr!important;
      -webkit-font-smoothing: antialiased!important;
      text-rendering: optimizeLegibility!important;
      -moz-osx-font-smoothing: grayscale!important;
      font-feature-settings: "liga"!important;
      content: "expand_more"!important;
      border: none!important;
      display: inline-block!important;
      vertical-align: middle!important;
      width: auto!important;
      line-height: 1!important;
      float: right!important;
      box-sizing: border-box!important;
    }
  }

  & > ul {
    padding: 0.4rem!important;
    border: 2px solid $primary!important;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.175)!important;
    max-height: 25rem!important;
    overflow-y: auto!important;

    & > li:first-of-type {
      margin-top: calc(-0.4rem + 2px)!important;
      margin-bottom: 0.6rem!important;

      & > a {
        font-weight: 600!important;
        display: inherit!important;
        width: inherit!important;
        white-space: inherit!important;
        clear: none!important;
        text-align: center!important;

        &:active {
          background: inherit!important;
          color: inherit!important;
        }
      }

      &:before {
        font-family: Material Icons;
        font-weight: 400!important;
        font-style: normal;
        font-size: 24px!important;
        font-size: 1.5rem!important;
        text-transform: none!important;
        letter-spacing: normal!important;
        word-wrap: normal!important;
        white-space: nowrap!important;
        direction: ltr!important;
        -webkit-font-smoothing: antialiased!important;
        text-rendering: optimizeLegibility!important;
        -moz-osx-font-smoothing: grayscale!important;
        font-feature-settings: "liga"!important;
        content: "expand_less"!important;
        border: none!important;
        display: inline-block!important;
        vertical-align: middle!important;
        width: auto!important;
        float: right!important;
      }
    }

    & > li:not(:first-of-type) {
      margin-top: 0.4rem!important;

      & > a {
        white-space: normal!important;

        &.disabled {
          font-style: italic;
          font-size: 0.85em!important;
          background-color: white;
        }

        &:not(.disabled):hover {
          background-color: $primary!important;
          color: white!important;
        }
      }

      &:nth-of-type(even) {
        background-color: #eff1f2!important;
      }
    }

    & > li:nth-of-type(2) {
      margin: -0.4rem!important;
      padding: 0.4rem!important;
      position: sticky!important;
      top: -0.5rem!important;
      background-color: white !important;

      & > i {
        font-size: 0.85em!important;
        background-color: white!important;
      }
    }
  }

  .spinner {
    width: 1.4rem!important;
    height: 1.4rem!important;
    position: absolute!important;
    top: 0.7rem!important;
    right: 0.7rem!important;
  }

  .select-title {
    font-weight: normal!important;
    font-style: italic!important;
  }
  .title-on-select {
    text-align: left!important;
    display: block!important;
  }
}
