.ps_gs-modal {
  overflow-y: auto;

  &__header {
    border: none;
    min-height: auto;

    padding: $ps-modal-padding;
    padding-bottom: 0;
  }

  &__title {
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(32);
  }

  &__body {
    padding: $ps-modal-padding;
    padding-bottom: 0;
  }

  &__content {
    border-radius: 0;
    box-shadow: none;
  }

  &__footer {
    padding: $ps-modal-padding;
    padding-top: rem(8);
    border: none;
    text-align: unset;

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }

    .btn {
      white-space: unset;
    }
  }

  & + .modal-backdrop {
    background: $overlay-popin;
  }
}

