.logo {
  max-width: 2.75rem;
  max-height: 2.75rem;
}

.app {
  &:not(:last-child) {
    &::after {
      content: '';
      border-top: 1px solid $primary-300;
      display: block;
      margin-top: 0.5rem;
    }
  }
}