#maintab-Marketing > a > :first-child,  /* for PS1.6 */
#subtab-Marketing > a > :first-child {
    background: url('../../img/marketing.png') no-repeat scroll center center / contain transparent;
    width: 16px;
}

#maintab-Marketing > a > :first-child:before, /* for PS1.6 */
#subtab-Marketing > a > :first-child:before {
    content: '\00a0';
}
