@import "base/nobootstrap";

#psFacebookApp {

  @import "~bootstrap/scss/functions";
  @import "~prestakit/scss/functions";
  
  // Custom PS
  @import "abstracts/variables";
  @import "~prestakit/scss/variables";
  @import "abstracts/variables";

  // Bootstrap
  @import "./vendors/bootstrap";
  @import "./vendors/bootstrap-vue";

  // Mixins
  @import "~prestakit/scss/mixins/fonts";
  @import "~prestakit/scss/imports"; // need fonts first
  @import "~prestakit/scss/mixins/close-button";
  @import "~prestakit/scss/mixins/shadows";
  @import "~prestakit/scss/mixins/buttons";
  @import "~prestakit/scss/mixins/forms";

  // Components
  @import "~prestakit/scss/type";
  @import "~prestakit/scss/alerts";
  // @import "~prestakit/scss/help-box";
  // @import "~prestakit/scss/popover";
  @import "~prestakit/scss/badges";
  @import "~prestakit/scss/buttons";
  @import "~prestakit/scss/button-group";
  // @import "~prestakit/scss/breadcrumb";
  @import "~prestakit/scss/toolbar";
  @import "~prestakit/scss/cards";
  @import "~prestakit/scss/custom-forms";
  @import "~prestakit/scss/dropdown";
  @import "~prestakit/scss/forms";
  @import "~prestakit/scss/input-group";
  @import "~prestakit/scss/list-group";
  @import "~prestakit/scss/modal";
  @import "~prestakit/scss/navs";
  @import "~prestakit/scss/pagination";
  @import "~prestakit/scss/ps-tagger";
  @import "~prestakit/scss/ps-tags";
  @import "~prestakit/scss/ps-switch";
  @import "~prestakit/scss/ps-sortable-columns";
  @import "~prestakit/scss/ps-dropdown";
  @import "~prestakit/scss/ps-number";
  @import "~prestakit/scss/tables";
  @import "~prestakit/scss/spinners";

  // Base
  @import './base/typography';

  // Components
  @import './components/button';
  @import './components/categorymatchingdropdown';
  @import './components/forms';
  @import './components/nav';

  // Pages
  @import './pages/configuration';
}

#psFacebookApp {
  margin: 0px;

  .card-header, .card-header .card-header-title {
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
  }
}

#psFacebookApp .card-header .main-header #header-search-container .input-group:before,
.card-header .material-icons, .card-header .ps-tree-items .tree-name button:before,
.main-header #header-search-container .card-header .input-group:before,
.ps-tree-items .tree-name .card-header button:before {
  color: #6c868e;
  margin-right: 5px;
}
#psFacebookApp .form-group.has-danger:after, #psFacebookApp .form-group.has-success:after,
#psFacebookApp .form-group.has-warning:after {
  right: 10px;
}

.material-icons.js-mobile-menu {
  display: none !important
}
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Fix for alerts
.alert {
  padding-left: 3.8rem !important;
  padding-right: 0.5rem !important;
}

.ps_gs-sticky-head {
  padding: 0;
  position: sticky;
  top: 136px; // fallback for IE11
  top: var(--header-height-full);
  margin-bottom: 20px;
  z-index: 200;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
}

.ps_gs-sticky-head .nav-link {
  padding: rem(7) 1.25rem;
}
#helper-shopid {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1500;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: all .3s;
}

#helper-shopid:hover {
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}